<head>
	<style>
/*** notice boxes ***/
    
.notice {
  position: relative;
  background: #F9F9F9;
  padding: 1em 1em 1em 2em;
  border-top: 4px solid #DDD;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}

.notice:before {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: -17px;
  background-color: #DDD;
  color: #FFF;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  font-family: Georgia;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.info {
  border-color: #40ad55;
}

.info:before {
  background-color: #40ad55;
}
		
.title {
	background-color:#04375A;
	color: #2FBFE1;
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}
		
.title2 {
	background-color:#04375A;
	font-size: 20px;
	font-weight: bold;
	color: #2FBFE1;
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}
		
.titlebg {
  	background: #F9F9F9;
  	padding: 2em 1em 2em 2em;
}
		
.social {
  	background: #F9F9F9;
  	padding: 1em 1em 1em 2em;
	border-top: 4px solid #04375A;
	text-align: center;
}
		
h3 {
	color:#04375A;
}

</style>
</head>
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-3898580501501688460m_-6688625106262529835templateContainer" style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8px; background-color: rgb(250, 250, 250); border-collapse: collapse; border: 0px; max-width: 600px !important;" align="center">
<tbody>
<tr>
<td valign="top" id="m_-3898580501501688460m_-6688625106262529835templateBody" style="margin: 0px; background: none center center / cover no-repeat rgb(255, 255, 255); border-top: 0px; border-bottom: 2px solid rgb(234, 234, 234); padding-top: 0px; padding-bottom: 9px;">
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-3898580501501688460m_-6688625106262529835mcnTextBlock" style="min-width: 100%; border-collapse: collapse;">
<tbody class="m_-3898580501501688460m_-6688625106262529835mcnTextBlockOuter">
<tr>
<td valign="top" class="m_-3898580501501688460m_-6688625106262529835mcnTextBlockInner" style="margin: 0px;">
<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-3898580501501688460m_-6688625106262529835mcnTextContentContainer" style="min-width: 100%; border-collapse: collapse;">
<tbody>
<tr>
<td valign="top" class="m_-3898580501501688460m_-6688625106262529835mcnTextContent" style="font-family: Helvetica; margin: 0px; padding: 9px 18px; word-break: break-word; color: rgb(32, 32, 32); font-size: 16px; line-height: 24px;">
      
	<h1 style="line-height:100%!important;font-size:30px;color:#494949;background-color:#04375A;font-family:HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;margin:0px;height:150px;"><img src="http://www.mobilecaddy.net/wp-content/uploads/2016/11/banner1.png" style="height: 150px;"></div></h1></div>
		<div class="titlebg" align="left" style="font-size:16px;line-height:30px;color:#494949;margin-top:0px;font-family:HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-weight:300">
                                      
<p>
As mobile apps continue to grow in importance for businesses of all shapes and sizes, we’ve decided to offer regular insights from what we’ve learned working with the leading businesses within the Salesforce ecosystem to make mobile easier for everyone.
</p>
<p>
As more organisations recognise the significant value mobile apps offer, we’ll be providing exclusive updates and industry commentary, helping the community enjoy all the benefits of mobility with none of the challenges.
</p>
			<p>All the best,</p>
			<p><strong>Justin Halfpenny</strong><br>CEO, MobileCaddy</p>
			<p><a href="mailto:justin@mobilecaddy.net" style="color:#0870b7;text-decoration:underline">justin@mobilecaddy.net</a></p>
                                    </div>
	
<div><img src="http://www.mobilecaddy.net/wp-content/uploads/2016/11/bulb.png" style="float:right; height: 63px;"></div>
	<div class="title2">MobileCaddy News</div>
		<div class="titlebg">                        
                                    
<div align="left" style="font-size:16px;line-height:30px;color:#494949;margin-top:0px;margin-bottom:18px;font-family:HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-weight:300">
  
	 
<ul style="margin-top:0px;margin-bottom:18px;margin-left:19px;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0">
	<li style="font-size:16px;line-height:25px;color:#494949">
		<span style="font-size:16px">Discover how a leading global fashion brand Diesel salvaged a failing investment in a <a href="http://www.mobilecaddy.net/diesel-achieving-digital-business-transformation-mobilecaddy/" style="font-weight:bold;color:#0870b7;text-decoration:underline" target="_blank">Salesforce1 app to achieve true mobile transformation</a>.</span><br style="line-height:100%">
		&nbsp;</li>
	<li style="font-size:16px;line-height:25px;color:#494949">
		<span style="font-size:16px">Learn how a market-leader in the travel sector transformed its operations with <a href="http://www.mobilecaddy.net/salesforce-partner-awards-2016-innovative-mobile-solution/" style="font-weight:bold;color:#0870b7;text-decoration:underline" target="_blank">Salesforce’s 2016 Most Innovative Mobile Solution winner</a>.</span><br style="line-height:100%">
		&nbsp;</li>
	<li style="font-size:16px;line-height:25px;color:#494949">
		<span style="font-size:16px">Our CEO advises where business leaders must shift their attention, following Salesforce's announcement of its dedicated <a href="http://www.mobilecaddy.net/salesforce-app-cloud-mobile-shifts-enterprise-attention-to-app-performance/" style="font-weight:bold;color:#0870b7;text-decoration:underline" target="_blank">App Cloud Mobile</a></span>.
		</li>
	</ul></div></div>
	<div><img src="http://www.mobilecaddy.net/wp-content/uploads/2016/11/target.png" style="float:right; height: 63px;"></div>
	<div class="title2">Industry Buzz</div>
	<div class="titlebg">
<ul style="margin-top:0px;margin-bottom:18px;margin-left:19px;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0">
	
	<li style="font-size:16px;line-height:25px;color:#494949">
		<span style="font-size:16px">This summary of <a href="http://www.zdnet.com/article/enterprise-mobile-apps-how-can-businesses-stay-ahead-of-the-curve/" style="font-weight:bold;color:#0870b7;text-decoration:underline" target="_blank">Adobe’s 2016 Enterprise Mobile App Report</a> is a must-read for anyone working with enterprise mobile apps now or in future.</span><br style="line-height:100%">
		&nbsp;</li>
	<li style="font-size:16px;line-height:25px;color:#494949">
		<span style="font-size:16px">Salesforce recently revealed that Salesforce1 will now only be supported by a limited set of devices. <a href="https://medium.com/only-the-paranoid-apps-survive/has-salesforce-killed-the-idea-of-byod-ee17c0c105f4#.hmc336mtn" style="font-weight:bold;color:#0870b7;text-decoration:underline" target="_blank">Here’s what that means for you</a>.</span><br style="line-height:100%">
		&nbsp;</li>
	<li style="font-size:16px;line-height:25px;color:#494949">
		<span style="font-size:16px">This article explores how, and why, this year has seen <a href="https://techcrunch.com/2016/11/01/mobile-internet-use-passes-desktop-for-the-first-time-study-finds/" style="font-weight:bold;color:#0870b7;text-decoration:underline" target="_blank">more users around the world accessing the Internet from mobile than from desktop</a>.</span>
		&nbsp;</li>
</ul>
	</div>
	<div><img src="http://www.mobilecaddy.net/wp-content/uploads/2016/11/cogwheel.png" style="float:right; height: 63px;"></div>
	 <div class="title2">Developer Chat</div>
	<div class="titlebg">
<ul style="margin-top:0px;margin-bottom:18px;margin-left:19px;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0">
	<li style="font-size:16px;line-height:25px;color:#494949">
		<span style="font-size:16px">This article provides <a href="http://developer.mobilecaddy.net/2016/11/desktop-hybrid-apps-plugins-and-ionicnative/" style="font-weight:bold;color:#0870b7;text-decoration:underline" target="_blank">an in-depth introduction into hybrid desktop apps</a>, the plugin architecture, and a route to the single codebase.</span><br style="line-height:100%">
		&nbsp;</li>
	<li style="font-size:16px;line-height:25px;color:#494949">
		<span style="font-size:16px">If you’re <a href="http://developer.mobilecaddy.net/2016/08/why-ionic-is-ideal-for-enterprise/" style="font-weight:bold;color:#0870b7;text-decoration:underline" target="_blank"> looking to deliver better mobile apps, using Ionic</a> makes it easier for developers to drive true business value.</span><br style="line-height:100%">
		&nbsp;</li>
	<li style="font-size:16px;line-height:25px;color:#494949">
		<span style="font-size:16px">It’s crucial to be aware of <a href="http://developer.mobilecaddy.net/2016/07/salesforce1-how-offline-is-offline/" style="font-weight:bold;color:#0870b7;text-decoration:underline" target="_blank">the capabilities and limitations of the technology choices you make</a> when building offline mobile apps. </span>
		</li>
</ul>
		 
	</div>
	
	 <div class="title2" style="text-align: center;padding-left:0;">Get In Touch</div>
	<div class="titlebg" style="text-align: center;padding: 1em 1em 2em 1em;">
	<p style="font-size:16px;line-height:25px;color:#494949">Get in touch if you have any questions, comments or feedback<br>- we would love to hear from you!</p>
		<a href="mailto:info@mobilecaddy.net" style="font-weight:bold;color:#0870b7;text-decoration:underline;" target="_blank">info@mobilecaddy.net</a>
	</div>
	
		 <div class="title2" style="text-align: center;padding-left:0;">Follow Us On</div>
	<div class="titlebg" style="text-align: center;padding-left:0;padding: 1em 1em 2em 1em;">
		<p style="font-size:16px;line-height:14px;margin-top:0px;margin-bottom:15px;color:#2FBFE1;white-space:normal"><br style="line-height:100%">

	<!-- Twitter -->
<a href="https://twitter.com/mobilecaddyorg" style="text-decoration:none;">
<img src="http://www.mobilecaddy.net/wp-content/uploads/2016/11/twitter2.png" alt="Twitter Link" width="44" style="padding: 0 5px 0px 5px">
</a>
<!-- Facebook -->
<a href="https://www.facebook.com/mobilecaddy/" style="text-decoration:none;">
<img src="http://www.mobilecaddy.net/wp-content/uploads/2016/11/fb.png" alt="Facebook Link" width="44" style="padding: 0 5px 0px 5px">
</a> 
<!-- LinkedIn -->
<a href="https://www.linkedin.com/company/mobilecaddy" style="text-decoration:none;">
<img src="http://www.mobilecaddy.net/wp-content/uploads/2016/11/link.png" alt="LinkedIn Link" width="44" style="padding: 0 5px 0px 5px">
</a>
<!-- Youtube -->
<a href="https://www.linkedin.com/company/mobilecaddy" style="text-decoration:none;">
<img src="http://www.mobilecaddy.net/wp-content/uploads/2016/11/yt.png" alt="LinkedIn Link" width="44" style="padding: 0 5px 0px 5px">
</a></p>
		<p style="font-size:16px;line-height:25px;color:#494949">For more news, check out our blog:</p>
		<a href="www.mobilecaddy.net/blog" style="font-weight:bold;color:#0870b7;text-decoration:underline;" target="_blank">www.mobilecaddy.net/blog</a>
	</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>


</td>
</tr>
</tbody>
</table>

</td>
</tr>

</tbody>
</table>
